<h1>Stupid Coach</h1>

<form action="/answer" data-turbo="false">
  <div class="form-container mb-3">
    <label class="form-label">Write your question</label>
    <input class="form-control" type="text" name="question" placeholder="Your question...">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
